<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Error en la Operación</title>
</head>
<body>
    <h1 style="color: red;">Hubo un problema al procesar su solicitud</h1>
    <p>Detalles del error: {{ mensaje }}</p>
    <br>
    <a href="{% url 'inicio' %}">Reintentar compra</a>
</body>
</html>