<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Listar Pedidos - Inacap</title>
</head>
<body>
    <a href="{% url 'crear_pedido' %}">Nuevo Pedido</a>

    <ul>
        {% for pedido in pedidos %}
            <li>
                Pedido #{{ pedido.id }} - 
                Cliente: {{ pedido.cliente.nombre }} - 
                Fecha: {{ pedido.fecha }}
                <a href="{% url 'detalle_pedido' pedido.id %}">Ver detalle</a>
            </li>
        {% empty %}
            <li>No hay pedidos registrados.</li>
        {% endfor %}
    </ul>
</body>
</html>